
.container{
    margin-bottom: 100px;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}
p{
    color: grey;
}
.buy-now-btn{
    background-image: linear-gradient(to bottom,rgb(2, 2, 2) 0%,rgb(14, 8, 10) 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
a{
    color: orange;
    text-align: center;
}
.card-footer{
    background-color: white;
    text-align: center;
    
}
.price{
    text-align: center;
    font-size: large;
    color: black;
}
.card-title{
    text-align: center;
    color: black;
}
footer{
    text-align:center;
}
.border-png1{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px orange;
    margin: 30px;
}

